<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Registro de habitaciones</h3>

  <form [formGroup]="altaCuartos" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre del cuarto</mat-label>
      <input
        matInput
        formControlName="nombreCuarto"
        placeholder="Nombre del cuarto"
        value=""
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea
        matInput
        formControlName="descripcion"
        placeholder="Este es un cuarto..."
      ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Numero de personas</mat-label>
      <input
        matInput
        maxlength="5"
        formControlName="numeroPersonas"
        placeholder="Ex. 94105"
        value="94043"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Codigo Cuarto</mat-label>
      <input
        matInput
        formControlName="codigoCuarto"
        placeholder="Nombre del cuarto"
        value=""
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Costo por noche</mat-label>
      <input
        matInput
        formControlName="costoNoche"
        maxlength="5"
        placeholder="Ex. 94105"
        value="94043"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tipo del cuarto</mat-label>
      <input
        matInput
        formControlName="tipoCuarto"
        placeholder="Nombre del cuarto"
        value=""
      />
    </mat-form-field>

    <br />
    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-primary" type="button" (click)="cancelar()">
      Cancelar
    </button>
  </form>
</div>
