#divPadre {
     align-items: center;
     justify-content: center;
   }
   
   td,
   th {
     text-align: center;
   }
   
   th {
     font-size: medium;
   }
   
   p {
     align-items: center;
     text-align: center;
     font-size: 20px;
     font-weight: bold;
   }
   