<div>
    <button (click)="getAerolineas()" class="button">Aerolineas</button>
    <ul *ngFor="let aerolinea of aerolineas">
        <li>{{ aerolinea.nombreAerolinea }}</li>
    </ul>
    <button (click)="getOrigenes()" class="button">Ciudades de origen</button>
    <ul *ngFor="let origen of origenes">
        <li>{{ origen.nombreCiudad }}</li>
    </ul>
    <button (click)="getDestinos()" class="button">Ciudades de destino</button>
    <ul *ngFor="let destino of destinos">
        <li>{{ destino.nombreCiudad }}</li>
    </ul>
</div>
