<mat-toolbar color="primary">
    <span class="fill-remaining-space">Alta Vuelo</span>
</mat-toolbar>
<div class="container" *ngIf="!loading">
    <form [formGroup]='altaVuelo'>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Origen</mat-label>
            <mat-select  formControlName="origenControl">
                <mat-option *ngFor="let ciudadOrigen of ciudades"
                    [value]="ciudadOrigen.idCiudad">{{ciudadOrigen.nombreCiudad}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Destino</mat-label>
            <mat-select formControlName="destinoControl">
                <mat-option *ngFor="let ciudad of ciudades"
                    [value]="ciudad.idCiudad">{{ciudad.nombreCiudad}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Aerolinea</mat-label>
            <mat-select formControlName="aerolieaControl">
                <mat-option *ngFor="let aerolinea of aerolineas"
                    [value]="aerolinea.idAerolinea">{{aerolinea.nombreAerolinea}}</mat-option>
            </mat-select>
        </mat-form-field>
       
     
        <table class="form-element">
            <td>
                <mat-form-field class="form-element">
                    <mat-label>Hora Salida</mat-label>
                    <input autocomplete="off" type="time" formControlName="horaSalidaControl" matInput placeholder="Hora Salida" value="">
                </mat-form-field> 
            </td>
            <td>
                <mat-form-field class="form-element">
                    <mat-label>Hora Llegada</mat-label>
                    <input autocomplete="off" type="time" formControlName="horaLlegadaControl" matInput placeholder="Hora Llegada" value="">
                </mat-form-field> 
            </td>
        </table>                
        <br />

        <mat-form-field class="form-element">
            <mat-label>C&oacute;digo</mat-label>
            <input style="text-transform:uppercase;" autocomplete="off" maxlength="10" minlength="10" formControlName="codigoControl" matInput placeholder="Codigo" value=""
            onkeypress="return (event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57))">
        </mat-form-field>
        
        <mat-form-field class="form-element">
            <mat-label>Costo</mat-label>
            <input maxlength="5" placeholder="Ej. 4000" value="30000" type="text" autocomplete="off" formControlName="costoControl" matInput placeholder="Costo"
            onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46">
        </mat-form-field>       
        <table class="form-element">
            <td>
                <button mat-raised-button color="primary" class="form-element" type="submit" (click)="guardar()" [disabled]="disableButon">Guardar</button>
            </td>
            <td>
                <button mat-raised-button color="primary" class="form-element" type="submit" (click)="cancelar()" [disabled]="disableButon">Cancelar</button>
            </td>
        </table>                                        
    </form>
</div>
<div class="d-flex justify-content-center">
    <div *ngIf="loading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>
