<mat-toolbar color="primary">
    <span class="fill-remaining-space">Alta Vuelo</span>
</mat-toolbar>
<div class="container">
    <form [formGroup]='altaVuelo'>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Origen</mat-label>
            <mat-select  formControlName="origenSelect">
                <mat-option *ngFor="let ciudadOrigen of ciudadesOrigen"
                    [value]="ciudadOrigen.idCiudad">{{ciudadOrigen.nombreCiudad}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Destino</mat-label>
            <mat-select>
                <mat-option *ngFor="let ciudad of ciudadesOrigen"
                    [value]="ciudad.idCiudad">{{ciudad.nombreCiudad}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Aerolinea</mat-label>
            <mat-select>
                <mat-option *ngFor="let ciudadOrigen of ciudadesOrigen"
                    [value]="ciudadOrigen.idCiudad">{{ciudadOrigen.nombreCiudad}}</mat-option>
            </mat-select>
        </mat-form-field>
       
     
        <table class="form-element">
            <td>
                <mat-form-field class="form-element">
                    <mat-label>Hora Salida</mat-label>
                    <input formControlName="horaSalida" matInput placeholder="Hora Salida" value="">
                </mat-form-field> 
            </td>
            <td>
                <mat-form-field class="form-element">
                    <mat-label>Hora Llegada</mat-label>
                    <input formControlName="horaLlegada" matInput placeholder="Hora Llegada" value="">
                </mat-form-field> 
            </td>
        </table>                
        <br />
        <mat-form-field class="form-element">
            <mat-label>Costo</mat-label>
            <input formControlName="costo" matInput placeholder="Nombre" value="">
        </mat-form-field>       
        <table class="form-element">
            <td>
                <button class="btn btn-primary form-element" type="submit" (click)="guardar()">Guardar</button>
            </td>
            <td>
                <button class="btn btn-primary form-element" type="submit" (click)="cancelar()">Cancelar</button>
            </td>
        </table>                                        
    </form>
</div>
