<mat-toolbar color="primary">
    <span class="fill-remaining-space">Modificar Hotel</span>
</mat-toolbar>
<diV class="contenedor-flex">
    <div>
        <form [formGroup]="altaForm" (ngSubmit)="onSubmit()">
            <div class="form-flex">
                <mat-form-field>
                    <mat-label>Ciudad</mat-label>
                    <mat-select formControlName="ciudadHotel">
                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">
                            {{ciudad.nombreCiudad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nombre de Hotel</mat-label>
                    <input formControlName="nombreHotel" matInput placeholder="Hotel Ibis">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Codigo de Hotel</mat-label>
                    <input formControlName="codigoHotel" type="number" matInput placeholder="0000">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Direccion</mat-label>
                    <input formControlName="direccion" matInput placeholder="Pirules 1849, Alamos 2">
                </mat-form-field>

                <br>
                <label>Logo:</label>
                <input id="imagen" type="file">
            </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!altaForm.valid">Guardar</button>
                <button mat-raised-button color="warn" (click)="cancelar()" type="button">Cancelar</button>
            
        </form>
    </div>
    <div class="cuarto-class">
        <app-cuartos [idHotel]=data.idHotel></app-cuartos>
    </div>

</diV>