<mat-toolbar color="primary">
    <span class="fill-remaining-space">Modificar Hotel</span>
</mat-toolbar>
<diV class="contenedor-flex">
    <div>
        <form [formGroup]="altaForm" (ngSubmit)="onSubmit()">
            <div class="form-flex">
                <mat-form-field>
                    <mat-label>Ciudad</mat-label>
                    <mat-select formControlName="ciudadHotel">
                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">
                            {{ciudad.nombreCiudad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nombre de Hotel</mat-label>
                    <input style="text-transform:uppercase;" autocomplete="off" formControlName="nombreHotel" maxlength="30" matInput placeholder="Hotel Ibis"
                    onkeypress="return (event.charCode == 32 || event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57))"
                    >
                </mat-form-field>

                <mat-form-field>
                    <mat-label>C&oacute;digo de Hotel</mat-label>
                   <input style="text-transform:uppercase;" autocomplete="off" minlength="10" maxlength="10" formControlName="codigoHotel" matInput placeholder="AB00000000"
                    onkeypress="return (event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57))"
                    >
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Direcci&oacute;n</mat-label>
                    <input maxlength="80" formControlName="direccion" matInput placeholder="Pirules 1849, Alamos 2"
                    onkeypress="return (event.charCode == 32 || event.charCode == 44 || event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57))"
                    >
                </mat-form-field>

                <br>
                <label>Logo:</label>
                <input id="imagen" type="file" (change) = "onFileChanged($event)">
                <img [src]="imgURL" height="30" width="30" *ngIf="imgURL"><br>
            </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!altaForm.valid">Guardar</button>
                <button mat-raised-button color="primary" (click)="cancelar()" type="button">Cancelar</button>
            
        </form>
    </div>
    <div class="cuarto-class">
        <app-cuartos [idHotel]=data.idHotel></app-cuartos>
    </div>

</diV>