     <p>Administraci&oacute;n de Vuelos</p>
     <div id="alta" class="col text-end">
        <button mat-stroked-button color="primary" (click)="altaReserva()"><i class="fa fa-plus"> Alta de Vuelo</i></button>
        <br/><br>
      </div>
<mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile colspan="1" rowspan="3">
        <div class="campos">
   <h2>Filtros</h2>
        <hr>
        <app-filtros-vuelos></app-filtros-vuelos></div>
    </mat-grid-tile>
    <mat-grid-tile id="tabla" colspan="3" rowspan="4">
        <app-tabla-vuelos></app-tabla-vuelos>
    </mat-grid-tile>
</mat-grid-list>

