<mat-toolbar color="primary">
  <span class="fill-remaining-space">Modificar Reserva</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="modificacionReserva">
    <table class="form-element">
      <td>
        <mat-form-field appearance="fill" class="form-element">
          <mat-label>Origen</mat-label>
          <mat-select
            (selectionChange)="origenChange()"
            formControlName="origenSelect"
          >
            <mat-option
              *ngFor="let ciudadOrigen of ciudadesOrigen"
              [value]="ciudadOrigen.idCiudad"
              >{{ ciudadOrigen.nombreCiudad }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="form-element">
          <mat-label>Destino</mat-label>
          <mat-select
            (selectionChange)="destinoChange()"
            formControlName="destinoSelect"
          >
            <mat-option
              *ngFor="let ciudad of ciudadesDestino"
              [value]="ciudad.idCiudad"
              >{{ ciudad.nombreCiudad }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </td>
    </table>
    <mat-form-field appearance="fill" class="form-element">
      <mat-label>Vuelos</mat-label>
      <mat-select
        (selectionChange)="vueloChange()"
        formControlName="vueloSelect"
      >
        <mat-option *ngFor="let vuelos of vuelos" [value]="vuelos.idVuelo">{{
          vuelos.codigoVuelo
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-element">
      <mat-label>Hotel</mat-label>
      <mat-select
        (selectionChange)="hotelChange()"
        formControlName="hotelSelect"
      >
        <mat-option *ngFor="let hoteles of hoteles" [value]="hoteles.idHotel">{{
          hoteles.nombreHotel
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <table class="form-element">
      <td>
        <mat-form-field appearance="fill" class="form-element">
          <mat-label>Tipo de Cuarto</mat-label>
          <mat-select
            required
            (selectionChange)="cuartoChange()"
            formControlName="cuartoSelect"
          >
            <mat-option
              *ngFor="let cuartos of cuartos"
              [value]="cuartos.idCuarto"
              >{{ cuartos.tipoCuarto }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="fill" class="form-element">
          <mat-label>Costo</mat-label>
          <input
            matInput
            #postalCode
            maxlength="5"
            formControlName="costoCuarto"
          />
        </mat-form-field>
      </td>
    </table>
    <table class="form-element">
      <td>
        <mat-form-field style="width: 241px">
          <mat-label title="Selecciona fecha desde el icono calendario"
            >Fecha Inicio</mat-label
          >
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="datepicker"
            (click)="datepicker.open()"
            onkeydown="return false"
            formControlName="fechaInicioSelect"
          />

          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Aceptar
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field style="width: 240px">
          <mat-label title="Selecciona fecha desde el icono calendario"
            >Fecha Fin</mat-label
          >
          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            onkeydown="return false"
            [matDatepicker]="datepickerFin"
            (click)="datepickerFin.open()"
            formControlName="fechaFinSelect"
          />

          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepickerFin"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepickerFin>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>
                Aceptar
              </button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </td>
    </table>
    <br />
    <mat-form-field class="form-element">
      <mat-label>Nombre</mat-label>
      <input
      style="text-transform: uppercase"
        onkeypress="return (event.charCode == 32 || event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
        formControlName="nombreSelect"
        matInput
        maxlength="40"
        placeholder="Ej. Juan Carlos"
        value=""
      />
    </mat-form-field>
    <table class="form-element">
      <td>
        <mat-form-field class="form-element">
          <mat-label>Apellido Paterno</mat-label>
          <input
          style="text-transform: uppercase"
            onkeypress="return (event.charCode == 32 || event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            formControlName="apellidoPaternoSelect"
            maxlength="40"
            matInput
            placeholder="Apellido Paterno"
            value=""
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="form-element">
          <mat-label>Apellido Materno</mat-label>
          <input
          style="text-transform: uppercase"
            onkeypress="return (event.charCode == 32 || event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
            formControlName="apellidoMaternoSelect"
            maxlength="40"
            matInput
            placeholder="Apellido Paterno"
            value=""
          />
        </mat-form-field>
      </td>
    </table>
    <mat-form-field class="form-element">
      <mat-label>Descripción</mat-label>
      <input
        formControlName="descripcionSelect"
        matInput
        onkeypress="return (event.charCode == 32 || event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
        maxlength="300"
        placeholder="Ej. Este es una reservación..."
        value=""
      />
    </mat-form-field>
    <br />

    <button
      id="centrarboton"
      mat-raised-button
      color="primary"
      [disabled]="!modificacionReserva.valid"
      type="submit"
      (click)="guardar()"
    >
      Guardar
    </button>

    <button
      id="centrarboton"
      mat-raised-button
      color="primary"
      type="button"
      (click)="cancelar()"
    >
      Cancelar
    </button>
  </form>
</div>
