.campos{
  text-align: center;
}
.container{
  overflow-x: scroll;
}
  td,th{
    width: 100px;
  }
  mat-grid-tile{
  }

  th{
    font-size: 14px;
  }

  #direccion{
    width: 150px;
  }

  #accion{
    text-align: center;
    margin: 8px 8px 8px 0;
    display: flex;
    justify-content: center;
  
  }

  p{
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

