<p>Administraci&oacute;n de Hoteles</p>
<div class="col text-end">
  <button
    id="centrarboton"
    mat-stroked-button
    color="primary"
    (click)="altaHotel()"
  >
    <i class="fa fa-plus"> Alta Hotel</i>
  </button>
</div>
    <mat-grid-list cols="4" rowHeight="150px">
      <mat-grid-tile colspan="1" rowspan="3"><div class="campos">
        <h3>Filtros</h3>

      <form [formGroup]="filtroForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Nombre del Hotel</mat-label>
          <input style="text-transform:uppercase;" autocomplete="off" formControlName="nombreHotel" maxlength="30" matInput placeholder="Hotel Ibis"
                    onkeypress="return (event.charCode == 32 || event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57))"
                    >
        </mat-form-field>

        <mat-form-field>
          <mat-label>C&oacute;digo del Hotel</mat-label>
          <input style="text-transform:uppercase;" autocomplete="off" minlength="10" maxlength="10" formControlName="codigoHotel" matInput placeholder="AB00000000"
                    onkeypress="return (event.charCode == 209 || event.charCode == 241 || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode >= 48 && event.charCode <= 57))"
                    >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ciudad de destino</mat-label>
          <mat-select formControlName="ciudadHotel">
            <mat-option
              *ngFor="let ciudad of ciudades"
              [value]="ciudad.idCiudad"
            >
              {{ ciudad.nombreCiudad }}
            </mat-option>
          </mat-select> </mat-form-field
        ><br />
        <button mat-raised-button color="primary" type="submit">Aplicar</button>
        <button
          mat-raised-button
          color="primary"
          id="filtro"
          (click)="limpiarFiltros()"
          type="button"
        >
          Limpiar Filtros
        </button>
        <br />
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile id="tabla" colspan="3" rowspan="3">
    <div class="container">
      
      <table mat-table [dataSource]="ListaHoteles" class="mat-elevation-z8">
        <ng-container matColumnDef="ciudad">
          <th mat-header-cell *matHeaderCellDef>Ciudad</th>
          <td mat-cell *matCellDef="let element">
            {{ element.ciudad.nombreCiudad }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre de Hotel</th>
          <td mat-cell *matCellDef="let element">
            <a matTooltip="{{ element.nombreHotel }}">
              {{ element.nombreHotel }}</a
            >
          </td>
        </ng-container>

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>C&oacute;digo de Hotel</th>
          <td mat-cell *matCellDef="let element">
            <a matTooltip="{{ element.codigoHotel }}">
              {{ element.codigoHotel }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th id="direccion" mat-header-cell *matHeaderCellDef>Direcci&oacute;n</th>
          <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 300px;" id="direccion" mat-cell *matCellDef="let element">
            <a matTooltip="{{ element.direccion }}">
              {{ element.direccion }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="logo">
          <th mat-header-cell *matHeaderCellDef>Logo</th>
          <td mat-cell *matCellDef="let element">
            <img
              width="40px"
              height="40px"
              src="data:image/png;base64,{{ element.logo }}"
            />
          </td>
        </ng-container>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
          "
        >
          <ng-container matColumnDef="modificar">
            <th mat-header-cell *matHeaderCellDef>Modificar</th>
            <td mat-cell *matCellDef="let element">
              <button
                style="width: 30px; height: 30px"
                id="accion"
                mat-fab
                color="accent"
                type="button"
                (click)="modificar(element)"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <button
                style="width: 30px; height: 30px"
                id="accion"
                mat-fab
                color="warn"
                type="button"
                (click)="eliminar(element)"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="estatus">
            <th id="estatus" mat-header-cell *matHeaderCellDef>Estatus</th>
            <td id="estatus" mat-cell *matCellDef="let element">
              <mat-slide-toggle
                [checked]="element.estatus === 1 ? true : false"
                (change)="cambiarStatus($event.checked, element, $event)"
                id="toggle"
              >
              </mat-slide-toggle>
              <h5 *ngIf="element.estatus == '1'">Habilitado</h5>
              <h5 *ngIf="element.estatus == '0'">Deshabilitado</h5>
            </td>
          </ng-container>
        </div>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>

      <div class="d-flex justify-content-center">
        <div *ngIf="loading" class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
