<mat-toolbar color="primary">
    <span class="fill-remaining-space">Modificar Vuelo</span>
</mat-toolbar>
<div class="container" *ngIf="!loading">
    <form [formGroup]='modificacionVuelo'>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Origen</mat-label>
            <mat-select (selectionChange)="origenChange()" formControlName="origenControl">
                <mat-option *ngFor="let ciudadOrigen of ciudadesOrigen"
                    [value]="ciudadOrigen.idCiudad">{{ciudadOrigen.nombreCiudad}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Destino</mat-label>
            <mat-select formControlName="destinoControl">
                <mat-option *ngFor="let ciudadDestino of ciudadesDestino"
                    [value]="ciudadDestino.idCiudad">{{ciudadDestino.nombreCiudad}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-element">
            <mat-label>Aerolinea</mat-label>
            <mat-select formControlName="aerolineaControl">
                <mat-option *ngFor="let aerolinea of aerolineas"
                    [value]="aerolinea.idAerolinea">{{aerolinea.nombreAerolinea}}</mat-option>
            </mat-select>
        </mat-form-field>
       
     
        <table class="form-element">
            <td>
                <mat-form-field class="form-element">
                    <mat-label>Hora Salida</mat-label>
                    <input type="time" formControlName="horaSalidaContol" matInput placeholder="Hora Salida" value="">
                </mat-form-field> 
            </td>
            <td>
                <mat-form-field class="form-element">
                    <mat-label>Hora Llegada</mat-label>
                    <input type="time" formControlName="horaLlegadaControl" matInput placeholder="Hora Llegada" value="">
                </mat-form-field> 
            </td>
        </table>                
        <br />
        <mat-form-field class="form-element">
            <mat-label>Codigo del vuelo</mat-label>
            <input formControlName="codigoControl" matInput placeholder="Codigo del vuelo" value="">
        </mat-form-field>
        <mat-form-field class="form-element">
            <mat-label>Costo del vuelo</mat-label>
            <input type="number" formControlName="costoControl" matInput placeholder="Costo del vuelo" value="">
        </mat-form-field>       
        <table class="form-element">
            <td>
                <button mat-raised-button color="primary" class="form-element" type="submit" (click)="guardar()">Guardar</button>
            </td>
            <td>
                <button mat-raised-button color="primary" class="form-element" type="submit" (click)="cancelar()">Cancelar</button>
            </td>
        </table>                                        
    </form>
</div>
<div class="d-flex justify-content-center">
    <div *ngIf="loading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>
