body {
    min-height: 100vh;
    overflow-x: hidden; 
    background-color:#fffffe;
}


.text-gray {
    color: #aaa;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
