body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #fffffe;
}

.text-gray {
  color: #aaa;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  --mdc-snackbar-container-color: rgb(9, 148, 2);
  width: auto;
  height: auto;
}
.warning-snackbar {
  --mdc-snackbar-container-color: rgb(214, 157, 0);
  width: auto;
  height: auto;
}
.error-snackbar {
  --mdc-snackbar-container-color: rgb(131, 0, 24);
  width: auto;
  height: auto;
}
