<p>{{ titulo }}</p>
<div class="col text-end">
  <button mat-stroked-button color="primary" (click)="altaReserva()">
    <i class="fa fa-plus">Alta Reserva</i>
  </button>
</div>
<mat-grid-list cols="4" rowHeight="120px">
  <mat-grid-tile colspan="1" rowspan="4">
    <div class="campos">
      <h3>Filtros</h3>

      <form>
        <mat-form-field appearance="fill">
          <mat-label>Selecciona un Origen</mat-label>
          <mat-select [formControl]="selectedCiudadOrigen">
            <mat-option
              *ngFor="let ciudadOrigen of ciudadesOrigen"
              [value]="ciudadOrigen.idCiudad"
              >{{ ciudadOrigen.nombreCiudad }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Selecciona un Destino</mat-label>
          <mat-select [formControl]="selectedCiudadDestino">
            <mat-option
              *ngFor="let ciudadDestino of ciudadesDestino"
              [value]="ciudadDestino.idCiudad"
              >{{ ciudadDestino.nombreCiudad }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Selecciona una Aerolinea</mat-label>
          <mat-select [formControl]="selectedAerolinea">
            <mat-option
              *ngFor="let aerolinea of aerolinea"
              [value]="aerolinea.idAerolinea"
              >{{ aerolinea.nombreAerolinea }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Selecciona un Hotel</mat-label>
          <mat-select [formControl]="selectedHotel">
            <mat-option *ngFor="let hotel of hotel" [value]="hotel.idHotel">{{
              hotel.nombreHotel
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary" (click)="buscar()">
          Buscar
        </button>
        <button
          mat-raised-button
          color="primary"
          id="filtro"
          (click)="limpiarFiltros()"
        >
          Limpiar Filtros
        </button>
      </form>
    </div>
  </mat-grid-tile>
  <mat-grid-tile id="tabla" colspan="3" rowspan="4">
    <div class="container">
      
      <br />

      <table mat-table [dataSource]="dataSource" *ngIf="!loading">
        <!-- Position Column -->
        <ng-container matColumnDef="Origen">
          <th mat-header-cell *matHeaderCellDef>Origen</th>
          <td mat-cell *matCellDef="let element">
            {{ element.vuelo.origen.nombreCiudad }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Destino">
          <th mat-header-cell *matHeaderCellDef>Destino</th>
          <td mat-cell *matCellDef="let element">
            {{ element.vuelo.destino.nombreCiudad }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Nombre del Cliente">
          <th mat-header-cell *matHeaderCellDef>Nombre del Cliente</th>
          <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100px;" mat-cell *matCellDef="let element">
            {{ element.nombreCliente }} {{ element.apellidoPaternoCliente }}
            {{ element.apellidoMaternoCliente }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Descripción de la reserva">
          <th mat-header-cell *matHeaderCellDef>Descripcion de la reserva</th>
          <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;" mat-cell *matCellDef="let element">
            <a matTooltip="{{ element.descripcion }}">{{
              element.descripcion
            }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="Fecha Creacion">
          <th mat-header-cell *matHeaderCellDef>Fecha Creacion</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fechaCreacion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Modificar">
          <th mat-header-cell *matHeaderCellDef>Modificar</th>
          <td mat-cell *matCellDef="let element">
            <button
              style="width: 30px; height: 30px"
              id="accion"
              mat-fab
              color="accent"
              (click)="modificar(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="Eliminar">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button
              style="width: 30px; height: 30px"
              id="accion"
              mat-fab
              color="warn"
              (click)="eliminar(element)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="d-flex justify-content-center">
        <div *ngIf="loading" class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
